<div class="py-4 clearfix">
  <nav class="nav float-right text-white f5 mono">
    <a class="text-inherit ml-sm-4 ml-2 d-inline-block" href="{{ site.baseurl }}/#schedule">Schedule</a>
    <a class="text-inherit ml-sm-4 ml-2 d-inline-block" href="{{ site.baseurl }}/#venue">Venue</a>
    <a class="text-inherit ml-sm-4 ml-2 d-inline-block" href="{{ site.baseurl }}/#faq">FAQ</a></li>
    <a class="text-inherit ml-sm-4 ml-2 d-sm-inline-block d-none" href="{{ site.baseurl }}/coc">Code of Conduct</a>
  </nav>
</div>
